/* 
.display-list-container {
 } */

.display-list-container__box {
  border-radius: 1em;
  display: grid;
  grid-template-columns: 3fr 1fr;
  overflow: hidden;
  margin: 0.5em 0;
  padding: 1em;
}

.display-list-container__box div {
  padding: 0.5em;
  word-break: break-all;
  font-weight: bold;
  font-size: 12px;
}

.display-list-container__product {
  border-right: 1px solid rgb(217, 217, 217);
}

.display-list-container__amount {
  text-align: center;
}

.display-list-action-btn {
  margin: 2em 0 0 0;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
}

/* recipes */
.recipe-cover-img {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 250px;
  border-radius: 1em 1em 0 0;
}

.display-instruction-container__box {
  background-color: #edffe3;
  border-radius: 1em;
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  margin: 0.5em 0;
  padding: 1em;
}
.display-instruction-container__box div {
  padding: 0.5em;
  word-break: break-all;
  font-weight: bold;
  font-size: 12px;
}

.display-title-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.display-title-box__calc {
  text-align: right;
}

.display-list-container__recipes--title {
  margin: 1em 0;
}

/* responsive */

@media (min-width: 768px) {
}
