.content-main {
  margin: 1em 0 0 0;
}

.content-main div {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.logo-container {
  margin: 0 0 1em 0;
}

.logo-container img {
  width: 100px;
}

.entry-text {
  text-align: center;
  margin: 0 0 2em 0;
}

.button-container {
  margin: 0 0 2em 0;
}

.button-container__text {
}

.credentials-container div {
  margin: 0 0 1em 0;
}

.bottom-illustration img {
  opacity: 0.5;
}
