/* main body and html styling */
body {
  min-width: 320px;
  margin: 0 auto 80px auto;
}

.content {
  padding: 0.5em;
}

@media (min-width: 768px) {
  body {
    width: 768px;
  }
  .content {
    padding: 0;
  }
}
