/* .main-list {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  margin: 0.5em 0.5em;
  padding: 1em;
  border: 1px solid rgb(96, 102, 96);
}

.first-pages-flex-container {
  display: flex;
  flex-direction: column;
  padding: 5em 0.5em;
  align-items: center;
}

.MuiTable-root {
  min-width: 320px !important;
}

.button-group {
  padding: 1em;
}

.main-content {
  padding: 0.5em;
}

#root {
  width: 768px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
