body {
  min-width: 320px;
  width: 768px;
  margin: 0 auto 80px auto;
}

/* bottom navigation */

.bottom-nav {
  border-radius: 1em 1em 0 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 768px;
  padding: 10px 0;
  background-color: #d1d1d166;
  backdrop-filter: blur(40px);
}

.bottom-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.bottom-nav ul li {
  display: inline;
  margin: 0 10px;
}

.bottom-nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 25px;
}

/* title */
h1.title {
  text-align: left;
  font-size: 30px;
}
h2.title {
  text-align: left;
  font-size: 25px;
}

h3.title {
  margin: 0.1em 0;
  font-size: 23px;
}

/* grocery box */

/* rename css classes > meaplan box
mealplan-container
  mealplan-container__box
    mealplan-container__tag
      mealplan-container__tag--main
      mealplan-container__title
    mealplan-container__recipes
  mealplan-container__action-buttons
  

grocery-list-container


*/
.grocery-lists {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  overflow: auto;
  margin-bottom: 2em;
}

.recipe-lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  overflow: auto;
  margin-bottom: 2em;
}

.grocery-box {
  background-color: #fff6e3;
  text-align: left;
  padding: 1em 2em;
  border-radius: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mealplan-box {
  background-color: #fff6e3;
  text-align: left;
  padding: 1em 2em;
  border-radius: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.new-grocery-box {
  display: flex;
  height: 9em;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  border: 2px dashed grey;
}

.new-recipe-box {
  display: flex;
  height: 9em;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  border: 2px dashed grey;
}

.tag {
  color: #fbc147;
  text-transform: capitalize;
  font-weight: bold;
}
.icon-box {
  display: flex;
}

.icon-box > svg {
  padding: 0.5em;
}

.title-icons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recipe-image {
  height: 10em;
  border-radius: 1em 1em 0 0;
  background-image: url("./public/test/recipe-test.jpg");
}

.recipe-box {
  background-color: #e3fff1;
  text-align: left;
  border-radius: 1em;
  width: 350px;
}

.recipe-box .tag {
  color: #7cb598;
}

.recipe-box-container {
  padding: 1em 2em;
}
